* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
}
header{
    height: 100px;
    background-color: black;
    color: white;
}

.header {
    max-width: 1040px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo{
    width: 80px;
    height: 80px;

}
.imglogo{
    width: inherit;
    height: inherit;
}

.menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.menu li,
.menu ul {
    list-style: none;
}
.menu ul{
    display: flex;
}
.menu li a{
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    height: 100px;
    align-items: center;
    border-bottom: 5px solid black;

}
.menu li a:hover {
    border-bottom: 5px solid #B28756;
}