img {
    width: 200px;
    height: 200px;
    /* A propriedade CSS object-fit especifica como o conteúdo de um elemento
    substituído deve ser ajustado à caixa estabelecida pela altura e largura usadas. 

    object-fit: fill
    object-fit: contain
    object-fit: cover
    object-fit: none
    object-fit: scale-down
    */
    object-fit: cover;
}
